@page
@model FreshDrink.Pages.Demo.IndexModel
@{
}

<div class="d-flex justify-content-center">
    <a href="/Demo/Prodotto" class="card-link">
        <img src="~/img/card-beer.jpg" class="card-img-top">
        <h2 class="text-warning text-card">Cliccami</h2>
        <div class="card-body">
            <p class="card-text fs-5 text-white text-center text-shadow"><strong>Clicca per aggiornare le nostre migliori Fresh Beer!</strong></p>
        </div>
    </a>
</div>


